body{
    background-color: #66CDF9;
}
.zcool-kuaile-regular {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: brown;
}
#text_content{
    text-align: center;
    font-size: medium;
}

p{
    font-size: 32px;
}
.font01{
    font-weight: 100;
    background-color: rgba(128, 128, 128,1);
}
.font02{
    font-weight: 400;
    text-decoration: 1px wavy red;
    background-color: rgba(128, 128, 128, 0.5);
}
.font03{
    font-weight: 700;
    text-shadow: 0px 0px 10px navy;
    background-color: rgba(128, 128, 128, 0);
}

